/* FLOW LAUNCHPAGE CSS Document */
body{
  /*background: #e7e8ea;*/
  background: #e7e8ea url('../img/bcg.jpg') 25% 35% no-repeat;
  width: 100%;
}

@font-face{
  font-family: Futura;
  src: url('../other/ftrabk.ttf');
}

p{
  text-align: justify;
}

#lp-container{
  width: 810px;
  margin: 0px auto 20px auto;
}

#lp-content{
  background: #ffffff;
  width: 100%;
  float: left;
  padding: 15px 0 15px 0;
}

.container{
  margin: 0 15px 0 15px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.lp-margin{
	width: 100%;
	float: left;
  margin: 15px 0 0 0;
}

.lp-menu{
	margin: 40px 0 0 0;
}

.lp-footer{
	color: #0e8ece;
	text-align: right;
	font-size:11px;
}

.lp-footer p{
	margin: 0px;
  text-align: right;
}

p.lp-copy{
  text-align: left;
}

.lp-mails a{
	margin: 0 0 0 30px;	
	color: #010101;
}

.lp-text-align-right{
	text-align: right;
}

p.lp-donate{
  padding: 10px 0 10px 0;
}

.lp-paypal-img{
  width: 100px;
  float: right;
}

h1{
  position: relative;
  overflow: hidden;
  width: 410px;
  height: 54px;
  float: left;
  margin: 20px 0 20px 0;
  font-weight: normal;
}

h1 span#lp-logo-flow{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 54px;
  z-index: 1;
  display: block;
  background: #e7e8ea url('../img/logo_flow_black.png') top left  no-repeat;
}

h1 span#lp-logo-platform, h1 span#lp-logo-slogan{
	font-family: Futura, Helvetica, "Trebuchet MS";
	display: block;
	float: right;
	width: 200px;
    height: 30px;
    color: #58585a;
    margin: 0px;
    font-size: 35px;
    line-height:27px;
    padding: 0px;
}

h1 span#lp-logo-slogan{
	height: 24px;
	font-size: 17px;
    line-height:14px;
}

h1 a{
  border: 0px;
  text-decoration: none;
  margin: 0px;
}

h2{
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  font-weight: normal;
  border-bottom: 1px solid #e5e5e5;
}

h3{
  color: #0b4e70;
}

h3.lp-faq-question{
  font-weight: normal;
  margin: 5px 0 5px 0;
}

h3.lp-desc-title{
  font-weight: normal;
  margin: 15px 0 10px 0;
  border-top: 1px solid #e5e5e5;
  padding: 5px 0 0 0;
}

.lp-faq{
  margin: 0 0 25px 0;
  border-left: 2px solid #b7e5fc;
  padding: 0 0 0 15px;
}

p.screen-description{
  color: #0a4461;
}

.h2span{
  display: block;
  width: 100%;
  text-align: left;
  text-indent: 50px;
  font-style: italic;
  font-size: 18px;
  margin: 5px 0 30px 0;
}

p.definition{
  width: 90%;
  margin: 10px auto 10px auto;
  color: #555555;  
}

h4{
	margin-bottom: 10px;
	color: #0088cc;
}

.lp-screens-navigation{
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0px;
  list-style: none;
  float: left;
}

.lp-screens-navigation-thumbnails{
	width: 20%;
	margin: 0px;
  float: left;
}

.lp-screens-navigation-thumbnails img{
  width: 100%;
}

.lp-btn-access{
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  margin: 0 auto 30px 6px;
  padding: 6px 15px 6px 15px;
}

.lp-btn-survey{
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  margin: 0px;
  padding: 15px;
}

