/* FLOW CSS Document */
body{
  background: #e7e8ea;
}

#fl-container{
  width: 1055px;
  margin: 0 auto 0 auto;
}

#fl-content{
  background: #ffffff;
  width: 100%;
  float: left;
}

.container{
  margin: 0 10px 0 10px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.indent-10{
  text-indent: 10px;
}

.fl-img{
  border: 5px solid #f4f4f4;
}

.fl-more{
  width: 100%;
  float: left;
  font-size: 11px;
  margin: 20px 10px 5px 0;
  text-align: right;
}

.fl-how-many{
  float: right;
  margin: 10px 18px 0 0;
}

.fl-dropdown-menu-numbers{
  min-width: 50px;
}

.fl-margin-top10{
  margin: 10px 0 0 0;
}

.inner{
  margin: 10px;
}

.inner-5{
  margin: 5px;
}

.inner-list-project, .inner-list-user{
  margin: 0 0 0 10px;
}

.inner-similar{
  margin: 2px;
}

.fl-ul-list-style-none{
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

.fl-cnt-100{
  width: 100%;
  float: left;
}

.fl-cnt-90{
  width: 90%;
  float: left;
}

.fl-cnt-80{
  width: 80%;
  float: left;
}

.fl-cnt-70{
  width: 70%;
  float: left;
}

.fl-cnt-60{
  width: 60%;
  float: left;
}

.fl-cnt-50{
  width: 50%;
  float: left;
}

.fl-cnt-40{
  width: 40%;
  float: left;
}

.fl-cnt-30{
  width: 30%;
  float: left;
}

.fl-cnt-20{
  width: 20%;
  float: left;
}

.fl-cnt-10{
  width: 10%;
  float: left;
}

.fl-tab-10{
  width: 10%;
}

.fl-tab-20{
  width: 20%;
}

.fl-tab-30{
  width: 30%;
}

.fl-tab-40{
  width: 40%;
}

.fl-tab-50{
  width: 50%;
}


.fl-cnt-100 p{
  text-align: left;
  margin: 0;
}

.fl-menu-img{
  border: 1px solid #ffffff;
  margin: 0 5px 0 0;
}

h1{
  position: relative;
  overflow: hidden;
  width: 243px;
  height: 70px;
  float: left;
  margin: 20px 0 20px 0;
}

h1 span{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  background: #e7e8ea url('../img/flow_logo.png') top left  no-repeat;
}

h1 a{
  border: 0px;
  text-decoration: none;
  margin: 0px;
}

h2{
  font-weight: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

h2 span{
  color: #767676;
  font-size: 15px;
}

h2 a, h2 a:hover, h2 a:focus{
  text-decoration: none;
}

span.green{
  color: #6c8d3c;
  font-size: 15px;
  margin: 0 0 0 10px;
}

span.green:hover{
  color: #86a959;;
}

span.green a, span.green a:hover, span.green a:focus{
  color: #6c8d3c;
  text-decoration: none;
}

span.green a:hover, span.green a:focus{
  color: #86a959;
}

h3{
  color: #5fa0a4;
  font-weight: normal;
  width: 100%;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  float: left;
}

h3 span{
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
}

.fl-uppercase{
  text-transform: uppercase;
}

h3.fl-sidebar, h3.fl-sidebar-h3-first, h3.fl-cnt-project-by-h3{
  color: #5fa0a4;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  margin: 25px 0 0 0;
  float: left;
}

h3.fl-sidebar-h3-first{
  margin: 0 0 0 0;
}

h3 a{
  font-size: 12px;
}

h4{
  font-size: 10px;
  color: #000000;
  font-weight: bold;
  margin: 4px 0 4px 0;
}

h4.fl-project-name{
  font-size: 12px;
  margin: 0;
}

h4.fl-project-name span{
  font-weight: normal;
}

.fl-top, .fl-top10{
  margin-top: 10px;
}

.fl-top20{
  margin-top: 20px;
}

.fl-top30{
  margin-top: 30px;
}

.fl-top40{
  margin-top: 40px;
}

.fl-top50{
  margin-top: 50px;
}

.fl-top60{
  margin-top: 60px;
}

.fl-top70{
  margin-top: 70px;
}

.fl-bottom5{
  margin-bottom: 5px;
}

.fl-bottom10{
  margin-bottom: 10px;
}

.fl-bottom20{
  margin-bottom:20px;
}

.fl-bottom40{
  margin-bottom:40px;
}

.fl-bottom10p{
  padding-bottom:10px;
}

.fl-menu, .fl-user-menu, .fl-search{
  float: right;
}

.fl-sidebar{
  background: #f7f7f7;
}

.fl-ul-breadcrumb{
  list-style: none;
  margin: 20px 0 10px 0;
  font-size: 11px;
}
.fl-ul-breadcrumb li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  text-shadow: 0 1px 0 #ffffff;
}
.fl-ul-breadcrumb .divider {
  padding: 0 5px 0 0;
  color: #999999;
}
.fl-ul-breadcrumb .active a {
  color: #333333;
}

.fl-ul-breadcrumb span{
  font-weight: bold;
}

.fl_slider_text{
  width: 100%; 
  float: left;
}

.fl_slider_text span.author{
  display: block;
  width: 100%;
  font-size: 13px;
  color: #999999;
  margin: 0 0 10px 0;
}

.fl_slider_text p{
  margin: 10px 0 10px 0;
  color: #999999;
  text-align: justify;
}

.fl_slider_img{
  border: 1px solid #ededed;
  background: #f4f6f5;
  width: 100%;
  float: left;
}

.fl-img-frame, .fl-thumbnail-frame{
  background: #f4f4f4;
}


.fl_thick_divider{
  width: 100%;
  float: left;
  height: 7px;
  margin: 10px 0 10px 0;
  background: url('../img/thick_divider.png') top left repeat-x;
}

.fl_thin_divider{
  width: 100%;
  float: left;
  height: 1px;
  margin: 10px 0 10px 0;
  background: url('../img/thin_divider.png') top left repeat-x;
}

.fl_project_thumb_roles, .fl_slider_roles{
  width: 100%;
  display: block;
  float: left;
}

.fl_project_thumb_role{
  width: 20%;
  float: left;
  text-align: center;
}

.fl_slider_role{
  width: 20%;
  float: left;
  text-align: center;
}

.fl_slider_roles{
  margin-bottom: 20px;
}


.fl_slider_roles img{
  margin: 7px 10px 7px 10px;
}

.fl-thumbnail-frame h3{
  color: #000000;
  margin: 0;
}

.fl-thumbnail-frame p{
  font-size: 11px;
  margin: 10px 0 10px 0;
  color: #000000;
  text-align: justify;
}

.fl-thumbnail-frame p.info{
  font-size: 11px;
  margin: 10px 0 10px 0;
  color: #999999;
  text-align: justify;
}


.fl-thumbnail-frame span.author{
  color: #999999;
  font-size: 11px;  
}

.fl_nav_item_number{
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4b4b4b;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


.progress{
  margin: 5px 0 5px 0;
}

.progress .fl_level1 {
  width: 33%;
  height: 18px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress .fl_level2 {
  width: 66%;
  height: 18px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress .fl_level3 {
  width: 100%;
  height: 18px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -ms-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.fl-passion-bar, .fl-passion-bar .fl-bar{
  height: 40px;
}

.fl-similar-project-bar, .fl-similar-bar{
  height: 4px;
}


.fl-bottom-line{
  clear: both;
  float: left;
  margin: 20px 0 0 0;
  text-align: center;
  width: 100%;
}

.nav-pills > .fl-blue-button > a{
  color: #ffffff;
  background-color: #0088cc;
}

.nav-pills > .fl-blue-button > a:hover {
  color: #0088cc;
  background-color: #ffffff;
}

.carousel-control {
  top: 12%;
  left: 88%;
}

.carousel-control.right {
  right: 2%;
}

.category, .followers, .like{
  margin-right: 10px;
}

.fl-float-right{
  float: right;
}

.input-filter-small{
  width: 10%;
}

.input-filter-medium{
  width: 20%;
}

.input-filter-large{
  width: 30%;
}

.input-filter-xlarge{
  width: 50%;
}

.input-filter-xxlarge{
  width: 67%;
}

.input-filter-full{
  width: 100%;
}

/* ------------------------------------------------- */
.fl-skill{
  width: 100%;
  float: left;
  margin: 0 0 3px 0;
}

.fl-skill-img40, .fl-skill-img30{
  width: 40px;
  float: left;
  margin: 0 8px 0 0;
}

.fl-skill-img30{
  width: 30px;
}

.fl-skill-text{
  float: left;
}

.fl-skill-text-role{
  width: 100%;
  float: left;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}

.fl-skill-text-tags{
  width: 100%;
  float: left;
  font-size: 11px;
  color: #999999;
}

.fl-skill-text-roledescription40, .fl-skill-text-roledescription30{
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  margin: 13px 0 13px 0;
}

.fl-skill-text-roledescription30{
  font-size: 11px;
  line-height: 12px;
  height: 12px;
  margin: 9px 0 9px 0;
}

.fl-project-thumb, .fl-user-thumb{
  width: 100%;
  border: 1px solid #eeeeee;
  background: #f4f4f4;
  float: left;
}

.fl-project-thumb img, .fl-user-thumb img{
  width: 100%;
}

.fl-list-project, .fl-list-user{
  width: 100%;
  float: left;
  margin: 0;
}

.fl-list-project-h3, .fl-list-user-h3{
  color: #000000;
  font-size: 15px;
  margin: 0;
}

.fl-list-user-h3 span{
  text-shadow: none;
}

.fl-list-project-info{
  font-size: 11px;
  color: #ababab;
}

.fl-list-project-roles{
  width: 100%;
  float: left;
  color: #0c7aaf;
  font-size: 11px;
  margin: 5px 0 0 0;
}

.fl-list-project-roles img{
  width: 30px;
}

.fl-list-project-roles-available{
  min-width: 40px;
  float: left;
  margin: 0 5px 0 0;
}

.fl-list-project-roles-my{
  min-width: 40px;
  float: left;
  padding: 0 0 0 5px;
  border-left: 2px solid #dbdbdb;
}

.fl-list-project-head, .fl-list-user-head{
  width: 80%;
  float: left;
}

.fl-list-project-like, .fl-list-user-like, .fl-list-project-button{
  width: 20%;
  float: left;
  text-align: right;
}

.fl-list-user-projects{
  border-left: 2px solid #dbdbdb;
  min-width: 90%;
  float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 7px;
  font-size: 11px;
}

p.fl-list-project-queue{
  border: 1px solid #bfe7f1;
  padding: 2px;
  background: #d9edf8;
  color: #64a0c2;
  border-radius: 3px;
  font-size: 10px;
  margin: 5px 0 0 0;
  text-align: center;
}

.fl-projectlist-nav{
  margin: 0px;
}

.fl-projectlist-nav li{
  margin: 0 20px 0 0;
}

/* PRIVATE */
.fl-right-nav{
  width: 100%;
  margin: 0;
  padding: 0;
}

.fl-right-nav li{
  width: 95%;
}

.fl-steps{
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 0;
  list-style: none;
}

.fl-steps li, .fl-steps li.active{
  float: left;  
  color: #95b9db;
  font-size: 14px;
}

.fl-steps li.active{
  color: #103d64;
}

.fl-steps li span{
  font-size: 40px;
  line-height: 30px;
  padding: 10px 0 0 0;
}

.fl-textarea100{
  width: 98%;
  margin: 0 0 40px 0;
}

.fl-textarea-height-small{
  height: 50px;
}

.fl-textarea-height-medium{
  height: 80px;
}

.fl-textarea-height-big{
  height: 200px;
}

.fl-choosing-roles-top, .fl-choosing-roles-middle, .fl-choosing-roles-bottom{
  width: 100%;
  float: left;
}

.fl-choosing-roles{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.fl-choosing-roles li, .fl-choosing-roles li:hover{
  padding: 5px 0 5px 0;
  background: #ffffff;
  color: #12599b;
  width: 100%;
  float: left;
}

.fl-choosing-roles li:hover{
   background: #f3f3f3;
}

.fl-choosing-roles li input, .fl-choosing-roles li:hover input{
  margin: 8px 10px 0 7px;
  display: inline-block;
  float: left;
}

.fl-choosing-roles li label, .fl-choosing-roles li:hover label{
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}

.fl-choosing-roles li .fl-skill, .fl-choosing-roles li:hover .fl-skill, .fl-choosing-roles li .fl-skill-img30, .fl-choosing-roles li:hover .fl-skill-img30{
  margin-bottom: 0;
}

.fl-choosing-roles li .fl-skill-text-roledescription30{
  font-size: 14px;
  color: #0f5495;
}

.fl-choosing-roles-list{
  float: left;
  height: 100%;
  background: #ebf2f8;
  width: 50%;
}

.fl-choosing-roles-description{
  float: left;
  height: 100%;
  background: #ebf2f8;
  width: 49.8%;
  border-right: 1px solid #cfd6dc;
  border-left: 1px solid #cfd6dc;
  -webkit-box-shadow: inset 1px 0 0 #dae1e7;
  -moz-box-shadow: inset 1px 0 0 #dae1e7;
  box-shadow: inset 1px 0 0 #dae1e7;
}

.fl-choosing-roles-description p{
  font-size: 11px;
  padding: 5px;
}

.fl-choosing-roles-description h4{
  font-size: 18px;
  margin: 0 0 0 5px;
  color: #0f539a;
  font-weight: normal;
}

.fl-choosing-roles-top-left, .fl-choosing-roles-bottom-left{
  min-width: 50%;
}

.fl-choosing-roles-top-left, .fl-choosing-roles-top-right{
  max-width: 50%;
  height: 10px;
  float: left;
}

.fl-choosing-roles-top-right{
  width: 49.8%;
  background: #ebf2f8;
  border-top: 1px solid #cfd6dc;
  border-right: 1px solid #cfd6dc;
  border-left: 1px solid #cfd6dc;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: inset 0 1px 0 #dae1e7, inset -1px 0 0 #dae1e7, inset 1px 0 0 #dae1e7;
  -moz-box-shadow: inset 0 1px 0 #dae1e7, inset -1px 0 0 #dae1e7, inset 1px 0 0 #dae1e7;
  box-shadow: inset 0 1px 0 #dae1e7, inset -1px 0 0 #dae1e7, inset 1px 0 0 #dae1e7;
}

.fl-choosing-roles-bottom-left, .fl-choosing-roles-bottom-right{
  max-width: 50%;
  height: 10px;
  float: left;
}

.fl-choosing-roles-bottom-right{
  width: 49.8%;
  background: #ebf2f8;
  border-bottom: 1px solid #cfd6dc;
  border-right: 1px solid #cfd6dc;
  border-left: 1px solid #cfd6dc;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: inset 1px 0 0 #dae1e7;
  -moz-box-shadow: inset 1px 0 0 #dae1e7;
  box-shadow: inset 1px 0 0 #dae1e7;
}

.fl-role-widget{
  text-align: center;
  width: 40%;
  margin: 20px auto 0px auto;
}

.fl-role-widget input, .fl-role-widget label{
  display: inline;
  color: #ba4945;
  font-weight: bold;
}

.fl-role-widget label{
  margin: 0 0 0 10px;
  padding: 10px 0 0 0;
}

.fl-new-question-textarea{
  width: 98%;
  height: 50px;
  margin: 0 0 10px 0;
}

.fl-button-navigation, .fl-form-navigation{
  width: 100%;
  float: left;
  text-align: right;
  margin: 10px 0 0 0;
}

.fl-form-navigation{
  text-align: left;
}

.fl-publishing-label{
  font-size: 11px;
  color: #92b8dc;
  width: 100%;
  float: left;
  margin: 0;
}

p.fl-publishing-title{
  font-size: 12px;
  color: #000000;
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
}

.fl-publishing-img, .fl-publishing-roles{
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
}

.fl-publishing-img img{
  border: 5px solid #f4f4f4;
  margin: 0 auto 0 70px;
}

.fl-publishing-bar{
  width: 50%;
  float: left;
  margin: 0 0 20px 0;
}

.fl-publishing-bar span{
  width: 10px;
  padding: 15px;
  display: inline-block;
  float: left;
  font-weight: bold;
}

.fl-project-img-thumb{
  float: left;
  margin: 0 10px 0 0;
  width: 150px;
  border: 5px solid #f5f5f5;
}

.fl-poll-active, .fl-poll-old, .fl-poll-name{
  color: #1b8dc9;
  font-size: 14px;
  margin: 0;
  text-indent: 10px;
}

.fl-poll-old, .fl-poll-name{
  color: #c30b09;
}

.fl-poll-name{
  text-indent: 0px;
}

.fl-poll{
  width: 100%;
  margin: 0 0 0 10px;
}

.fl-poll thead{
  text-align: left;
  color: #50696d;
}

.fl-poll th{
  font-weight: normal;
}

.fl-poll tr{
  height: 30px;
  padding: 4px 0 4px 0;
  border-bottom: 1px dotted #dcdcdc;
}

.fl-poll-created-question{
  margin: 0 0 0 0;
  padding: 0 0 10px 10px;
  color: #03a8ea;
}

.fl-poll-user{
  width: 60%;
  float: right;
  margin: 40px 0 0 0;
}

.fl-poll-user img{
  border: 5px solid #f4f4f4;
}

.fl-poll-user span{
  font-size: 10px;
  color: #00a9ec;
}

.fl-collaborations-nav{
  margin: 0px;
}

.fl-collaborations-nav li{
  font-size: 10px;
}

.fl-collaborations-nav > li > a{
  margin: 0;
  padding: 4px 10px 4px 10px;
}

/* PROJECT PROFILE - SUMMARY */
.fl-project-profile-navbar{
  margin: 20px 0 20px 0;
  float: left;
  width: 100%;
}

.fl-cnt-img, .fl-cnt-pitch, .fl-cnt-description, .fl-cnt-plans-issues-lessons, .fl-cnt-project-by{
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
}

.fl-cnt-img img{
  width: 100%;
}

.fl-cnt-img{
  border: 1px solid #ededed;
}

.fl-cnt-pitch p{
  border-left: 5px solid #bac3c8;
  padding: 0 0 0 10px;
  color: #20364b;
}

.fl-cnt-pitch p{
  margin: 0px;
}

.fl-cnt-description p, .fl-cnt-member-description p{
  text-align: left;
  line-height: 21px;
}

.fl-cnt-plans-issues-lessons p{
  border-left: 5px solid #cee2e3;
  padding: 0 0 0 10px;
  margin: 0px;
  color: #3b7271;
}

.fl-cnt-plans-title, .fl-cnt-plans-title-first{
  font-size: 16px;
  color: #5da1a0;
  text-transform: uppercase;
  border-bottom: 1px dotted #dadedf;
  display: block;
  padding: 10px 0 5px 0;
  margin: 0 0 5px 0;
}

.fl-cnt-plans-title-first{
  padding: 0 0 5px 0;
}

.fl-cnt-project-by-content{
  background: #f1f1f1;
  width: 100%;
  float: left;
}

.fl-cnt-project-by-content-inner{
  margin: 0 0 10px 10px;
}

.fl-cnt-project-by-content-left, .fl-cnt-project-by-content-right{
  float: left;
  width: 20%;
}

.fl-cnt-project-by-content-right{
  width: 80%;
}

.fl-cnt-project-by-content-skills, .fl-cnt-project-by-content-earned-role{
  width: 100%;
  float: left;
  margin: 10px 0 0 0;
}

.fl-cnt-project-by-content-earned-role{
  margin: 0px;
  padding: 0px;
}

.fl-cnt-project-by-content-skill{
  width: 100%;
  float: left;
  margin: 0 0 3px 0;
}

.fl-cnt-project-by-content-skill img{
  width: 40px;
  margin: 0 5px 0 0;
  float: left;
  display: block;
}

.fl-cnt-project-by-content-skill-role, .fl-cnt-project-by-content-skill-tag{
  font-size: 12px;
}

.fl-cnt-project-by-content-skill-tag{
  font-size: 10px;
  color: #61879a;
}

.fl-cnt-project-by-content-author{
  font-size: 19px;
  color: #1d384b;
  font-weight: normal;
}

.fl-cnt-project-by-author-photo{
  width: 100%;
  border: 1px solid #ffffff;
}

.fl-cnt-project-by-content-author-projects{
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  float: right;
  text-align: right;
}

.fl-cnt-project-by-content-author-projects span{
  font-size: 10px;
  text-align: right;
}

.fl-cnt-project-by-content-author-projects li{
  display: inline;
  margin: 2px;
}

.fl-cnt-project-by-content-author-projects li img{
  border: 1px solid #ffffff;
}

/* DASHBORAD */
.fl-dashboard{
  margin: 20px 5% 20px 5%;
  list-style: none;
  width: 90%;
  padding: 0px;
  float: left;
}

.fl-dashboard-icon-new, .fl-dashboard-icon-flobox, .fl-dashboard-icon-myprojects, .fl-dashboard-icon-mycollaborations, .fl-dashboard-icon-peopleilike, .fl-dashboard-icon-projectsilike{
  width: 23px;
  height: 23px;
  display: block;
  float: left;
  margin: 0 7px 0 0;
  background: url('../img/ico_dashboard_new_project.png') top left no-repeat;
}

.fl-dashboard-icon-flobox{
  background: url('../img/ico_dashboard_flobox.png') top left no-repeat;
}

.fl-dashboard-icon-myprojects{
  background: url('../img/ico_dashboard_myprojects.png') top left no-repeat;
}

.fl-dashboard-icon-mycollaborations{
  background: url('../img/ico_dashboard_mycollaborations.png') top left no-repeat;
}

.fl-dashboard-icon-projectsilike{
  background: url('../img/ico_dashboard_projectsilike.png') top left no-repeat;
}

.fl-dashboard-icon-peopleilike{
  background: url('../img/ico_dashboard_peopleilike.png') top left no-repeat;
}

.fl-dashboard li, .fl-dashboard li:hover{
  width: 48%;
  height: 45px;
  margin: 0 1% 5px 0;
  float: left;
  background: #f7f7f7;
  border-left: 2px solid #b0b0b0;
}

.fl-dashboard li:hover{
  background: #f3f3f3 url('../img/icon_dashboard_hover.png') 0px 16px no-repeat;
  border-left: 2px solid #4b4948;
}

.fl-dashboard li a, .fl-dashboard li a:hover, .fl-dashboard li a:active, .fl-dashboard li a:focus{
  display: block;
  width: 100%;
  margin: 0px;
  line-height: 23px;
  text-decoration: none;
  color: #4b4948;
  font-weight: bold;
  font-size: 14px;
  padding: 11px 0 11px 20px;
}

.fl-ul-project-feed li{
  margin: 0 0 8px 0;
  font-size: 12px;
}

li.fl-li-accepted{
  list-style-image: url('../img/li-icon-accepted.png');
}

li.fl-li-denied{
  list-style-image: url('../img/li-icon-denied.png');
}

li.fl-li-info{
  list-style-image: url('../img/li-icon-info.png');
}

.fl-img-survey-list{
  border: 1px solid #ffffff;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.fl-survey-list-answers{
  margin: 20px 0 0 0;
  color: #136396;
  font-size: 11px;
  float: left;
}

.fl-survey-legend-answered, .fl-survey-legend-unanswered, .fl-survey-legend-note{
  padding: 5px;
  display: inline;
  margin: 0 10px 0 0;
  border-left: 8px solid #afeaa8;
  color: #83be7e;
  font-size: 10px;
}

.fl-survey-legend-unanswered{
  border-left: 8px solid #e3a9a8;
  color: #c10d0c;
}

.fl-survey-legend-note{
  border-left: 0px;
  color: #000000;
}

.fl-project-survey-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.fl-project-survey-list li{
    padding: 8px 0 8px 10px;
}

.fl-project-survey-list li p{
  margin: 0;
}

.fl-project-survey-list li div{
  margin: 5px 0 0 0;
  color: #83a7db;
}

.fl-survey-list-question{
  font-weight: bold;
}

.fl-project-survey-list li.unanswered, .fl-project-survey-list li.answered{
  border-left: 8px solid #afeaa8;
}

.fl-project-survey-list li.answered:hover, .fl-project-survey-list li.open{
  border-left: 8px solid #83be7e;
}

.fl-project-survey-list li.answered:hover .fl-survey-list-question, .fl-project-survey-list li.open .fl-survey-list-question{
  color: #83be7e;
}

.fl-project-survey-list li.answered:hover{
  cursor: pointer;
}

.fl-project-survey-list li.unanswered{
  border-left: 8px solid #e3a9a8;
}

.fl-thumb-projects4 li{
  width: 25%;
  margin: 0;
  float: left;
  padding: 0;
}

.fl-thumb-p{
  font-size: 10px;
  color: #a4a4a4;
}

 .fl-stat-overall{
  font-size: 35px;
  font-weight: bold;
  line-height: 35px;
  float: left;
 }

.fl-stat-overall-note{
  min-width: 50%;
  float: left;
  height: 15px;
  font-size: 12px;
  margin: 0 0 0 5px;
  font-weight: bold;
}

.fl-stat-new{
  min-width: 50%;
  float: left;
  height: 12px;
  font-size: 11px;
  margin: 0 0 0 5px;
  color: #114776;
}

.fl-list{
  width: 100%;
  float: left;
}

.fl-list tr:hover{
  background: #f4f4f4;
}

tr.fl-list-head, tr.fl-list-head:hover{
  background: #e5eef3;
}

tr.fl-user-banned, tr.fl-user-banned:hover{
  background: #fee4e5;
}

tr.fl-user-banned:hover{
  background: #f9d2d3;
}

.fl-list th{
  text-align: left;
}

.fl-list th, .fl-list td{
  padding: 8px;
}

.fl-nl{
  text-align: center;
  width: 50%;
  margin: 20px auto 0 auto;
}

.fl-big-number{
  font-size: 24px;
  color: #0079cc;
}

.fl-slot{
  background: #eef6f9;
}

.fl-slot form{
  width: 80%;
  margin: 20px auto 20px auto;
}

.fl-slot label{
  color: #0d5c9f;
  font-size: 11px;
  font-weight: bold;
}

.fl-peopleilike-details{
  border-left: 2px solid #e2e2e2;
  padding: 2px 0 2px 10px;
  margin: 2px 0 2px 0;
  width: 100%;
  float: left;
  font-size: 11px;
}

.fl-peopleilike-details img{
  width: 30px;
}

.fl-change-emails{
  width: 100%;
  float: left;
  margin: 5px 0 5px 0;
}

.fl-change-nl-email-active, .fl-change-nt-email-active{
  width: 100%;
  float: left;
  margin: 10px 0 0 0;
  display: none;
}

.fl-change-nt-email-active{
  display: none;
}

.fl-change-emails-active{
  width: 100%;
  float: left;
  margin: 5px 0 5px 0;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#fl-change-nt-email, #fl-change-nl-email{
  margin: 10px;
}

.fl-current-picture img{
  width: 240px;
  margin: 5px auto 0px 50px;
}

/* PROJECT PROFILE - UPDATES*/
.fl-project-update{
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
}

.fl-project-update h3{
  font-size: 23px;
  color: #000000;
}

.fl-project-update-h3-prefix, .fl-project-update-h3-prefix-num{
  text-transform: uppercase;
  font-size: 11px;
  color: #626262;
}

.fl-project-update-h3-prefix-num{
  text-transform: uppercase;
  color: #626262;
  font-size: 25px;
}

.fl-project-update-info{
  margin: 5px 0 10px 0;
  color: #acacac;
}

/* PROJECT PROFILE TEAM*/
.fl-team-logged-user{
  width: 100%;
  float: left;
  margin: 0 0 10px 0;
  background: #c2f5ca;
}

.fl-team-logged-user-left, .fl-team-logged-user-right{
  width: 50%;
  float: left;
}

.fl-team-logged-user-right img{
  display: block;
  width: 40px;
  float: left;
  margin: 0 5px 10px 0;
}

.fl-team-logged-user-right p{
  margin: 10px 0 10px 0;
}

.fl-team-logged-user-right p span{
  font-weight: bold;
  color: #3f768a;
}

.fl-team-logged-user-left img{
  display: block;
  border: 1px solid #ffffff;
  margin: 0 5px 0 0;
  float: left;
}

.fl-team-logged-user-name{
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  float: left;
}

.fl-team-logged-user-since{
  font-size: 10px;
  color: #61879a;
}

.fl-project-team{
  width: 100%;
  float: left;
}

.fl-project-team-role{
  width: 98%;
  float: left;
  border-left: 5px solid #f8ede7;
  padding: 0 0 0 10px;
}

.fl-project-team-role-user{
  width: 100%;
  float: left;
  margin: 2px 0 2px 0;
}

.fl-project-team-role-user-author{
  background: #fff8d4;
}

.fl-project-team-role-user-left, .fl-project-team-role-user-right{
  width: 50%;
  float: left;
}

.fl-project-team-role-user-left img{
  float: left;
  display: block;
  margin: 0 5px 0 0;
}

.fl-project-team-role-user-left h4{
  font-size: 12px;
  margin: 0px;
}

.fl-project-team-role-user-left p{
  margin: 0px;
  line-height: 12px;
  font-size: 11px;
}

.fl-project-team-role-user-right img{
  width: 30px;
  display: block;
  float: left;
  margin: 0 5px 0 0;
}

.fl-project-team-role-user-right p{
  margin: 6px 0 6px 0;
  font-size: 11px;
}

.fl-team-recruiting{
  width: 100%;
  float: left;
  margin: 30px 0 0 0;
  background: #f7f7f7;
}

.fl-team-recruiting-join{
  width: 100%;
  float: left;
  text-align: center;
  background: #eeeeee;
}

/* PROJECT PROFILE COMMENTS */
.fl-project-comments-form{
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
  background: #eeeeee;
}

.fl-project-comments-form form{
  margin: 10px;
}

.fl-project-comments-form form textarea{
  width: 98%;
  height: 150px;
  float: left;
}

.fl-project-comment-forms form input[type="checkbox"]{
  float: left;
  margin: 0 5px 0 0;
}

.fl-project-comments-comment, .fl-project-comments-comment-creator{
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
  border-bottom: 1px dotted #dcdcdc;
}

.fl-project-comments-comment-creator{
  width: 95%;
  margin-left: 5%;
  background: #f7f7f7 url('../img/bcg_project_comments_creator_comment.jpg') top left no-repeat;
}

.fl-project-comments-comment-left, .fl-project-comments-comment-right{
  width: 20%;
  float: left;
}

.fl-project-comments-comment-right{
  width: 80%;
}

.fl-project-comments-comment-header, .fl-project-comments-comment-creator-header{
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}

.fl-project-comments-comment-creator-header{
  color: #e34d0e;
}

.fl-project-comments-comment-header span, .fl-project-comments-comment-creator-header span{
  font-size: 12px;
  font-weight: normal;
  color: #000000;
}

/* PROJECT PROFILE PROJECT BOAD */
.fl-project-project-board-form{
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
  background: #eeeeee;
}

.fl-project-project-board-form form{
  margin: 10px;
}

.fl-project-project-board-form form textarea{
  width: 98%;
  height: 150px;
  float: left;
}

.fl-project-project-board-form form input[type="text"]{
  width: 98%;
}

.fl-project-message-forms form input[type="checkbox"]{
  float: left;
  margin: 0 5px 0 0;
}

.fl-project-project-board-message{
  width: 100%;
  float: left;
  margin: 0 0 20px 0;
  border-bottom: 1px dotted #dcdcdc;
}

.fl-project-project-board-message-left, .fl-project-project-board-message-right{
  width: 20%;
  float: left;
}

.fl-project-project-board-message-right{
  width: 80%;
}

.fl-project-project-board-message-header{
  font-size: 12px;
  font-weight: normal;
  color: #ababab;
  margin: 0 0 15px 0;
}

.fl-project-project-board-h3{
  width: 100%;
  color: #000000;
  margin: 0 0 0 0;
}

.fl-project-project-board-attachements{
  list-style: none;
  margin: 0;
  padding: 0;
}

.fl-project-project-board-attachements li{
  margin: 0 0 0 10px;
  padding: 0;
  color: #8a8a8a;
  font-style: italic;
}

/* MEMBER PROFILE SUMMARY */
.fl-membeprofile-head{
  width: 100%;
  float: left;
  margin: 10px 0 10px 0;
}

.fl-memberprofile-member-img-thumb{
  border: 4px solid #f5f5f5;
  display: block;
  float: left;
  margin: 0 5px 0 0;
}

.fl-cnt-member-img{
  border: 4px solid #f5f5f5;
}

.fl-member-projects li{
  width: 20%;
  margin: 0;
  float: left;
  padding: 0;
}

.fl-member-project{
  width: 90%;
  border: 1px solid #e1e2dc;
  background: #eeeee6;
}

.fl-member-project img{
  width: 100%;
}




/* PROJECT PROFILE SIDEBAR*/
.fl-project-level, .fl-team, .fl-passion-slider, .fl-feedback, .fl-similar-projects{
  width: 100%;
  float: left;
}


.fl-team-author{
  width: 100%;
  float: left;
  margin: 0 0 3px 0;
}

.fl-team-author-roles{
  min-width: 40px;
  float: left;
  margin: 0 5px 0 0;
}

.fl-team-author-created{
  float: left;
}

.fl-team-author-created span{
  font-size: 11px;
  width: 100%;
  display: block;
  float: left;
  color: #84b4b4;
}

.fl-team-author-created span.fl-team-author-name{
  font-size: 17px;
  width: 100%;
  display: block;
  float: left;
  color: #1d384b;
  font-weight: bold;
}

.fl-team-join-team{
  width: 100%;
  float: left;
  background: #eeeeee;
  text-align: center;
}

.fl-join-team-btn{
  text-align: center;
  width: 40%;
  margin: 0 auto 0 auto;
}

.fl-join-team-btn-join, .fl-join-team-btn-label{
  text-transform: uppercase;
  font-size: 18px;
}

.fl-join-team-btn-label{
  font-size: 11px;
  color: #c7d3e1;
}

.fl-feedback-date, .fl-feedback-info, .fl-project-level-info{
  font-size: 10px;
  width: 100%;
  float: left;
  margin: 0 0 10px 0;
  text-align: right;
  color: #a1c8c7;
}

.fl-feedback-info{
  margin: 10px 0 0 0;
  text-align: left;
}

.fl-feedback-poll{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.fl-feedback-poll li{
  margin: 10px 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px dotted #d9dfdf;
  width: 100%;
  float: left;
}

.fl-feedback-question{
  width: 55%;
  float: left;
}

.fl-feedback-question p{
  padding: 0px;
  margin: 0px;
}

.fl-feedback-answer{
  width: 45%;
  float: left;
  padding: 0px;
  margin: 0px;
}

.fl-feedback-answer label{
  display: inline;
  margin: 0 3px 0 0;
}

.fl-similar-projects-thumbnails{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.fl-similar-projects-thumbnails li{
  width: 33%;
  float: left;
  margin: 0 0 10px 0;
  padding: 0px;
}

.fl-similar{
  width: 95%;
  margin: 0 auto 0 auto;
  border: 1px solid #e1e2dd;
  background: #eeeee4;
}

.fl-similar img{
  width: 100%;
}

.fl-width10{
  width: 10%;
}

.fl-width15{
  width: 15%;
}

.fl-width20{
  width: 20%;
}

.fl-width25{
  width: 25%;
}

.fl-width30{
  width: 30%;
}

.fl-width33{
  width: 33%;
}

.fl-width35{
  width: 35%;
}

.fl-width40{
  width: 40%;
}

.fl-width45{
  width: 45%;
}

.fl-width50{
  width: 50%;
}

.fl-width55{
  width: 55%;
}

.fl-width60{
  width: 60%;
}

.fl-width65{
  width: 65%;
}

.fl-width70{
  width: 70%;
}

.fl-width75{
  width: 75%;
}

.fl-width80{
  width: 80%;
}

.fl-width85{
  width: 85%;
}

.fl-width90{
  width: 90%;
}

.fl-width95{
  width: 95%;
}

.fl-width100{
  width: 100%;
}





@media (max-width: 767px) {
  #fl-container{
    width: auto;
  } 
  
.carousel-control {
  top: 92%;
  left: 3%;
}

.carousel-control.right {
  right: 3%;
}

}

@media (min-width: 768px) and (max-width: 979px) {
  #fl-container{
    width: 682px;
  }
  
.carousel-control {
  top: 10%;
  left: 86%;
}

.carousel-control.right {
  right: 1%;
}



}

@media (max-width: 767px) {

}


